<%- contentFor('header')%>
<style>
html,body,.container,.page{height:100%;}
.page{
  min-height: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row  
}
</style>
<%- contentFor('body')%>
  <div class="page page-login">
      <form action="#" method="POST" onsubmit="return asubmit();">
        <label for="username">邮箱</label>
        <input type="text" name="username" value=""><br>
        <label for="password">密码</label>
        <input type="password" name="password" value=""><br>
        <button type="submit" class="btn btn-default">登录</button>
      </form>
  </div>
  <%- contentFor('footer')%>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script>
      function asubmit(e) {
        var username = document.querySelector('input[name=username]').value
        var password = document.querySelector('input[name=password]').value
        $.post('/admin/login', {
          username: username,
          password: password
        }, function(data) {
          if (data.code === 0) {
            window.location.href = '/admin'
          } else {
            alert(data.info)
          }
        })
        return false
      }
    </script>