/* ui */

* {
  line-height: 1.1;
  font-family: "tahoma", "Helvetica", "Microsoft Yahei", sans-serif;
  box-sizing: border-box;
  color: #555;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none
}

ul li {
  margin-bottom: 8px;
}

a {
  cursor: pointer
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

input {
  padding: 0 15px;
}

button {
  padding: 0
}

.container {
  width: 960px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center
}

.btn {
  width: 84px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px 0 #ccc
}

.btn:hover {
  transition: all .3s ease-out;
  color: #555
}

.btn-default {
  background: #fff;
}

.btn-default:hover {
  background: #d4d4d4;
}

.progress .out {
  height: 2px;
  background: #999
}

.progress .out .inner {
  height: 2px;
  background: #555
}

.clearfix {
  clear: both;
  float: none;
}

a {
  text-decoration: none;
}

.slide-down {
  transition: all .3s ease-out;
  animation-name: slide-down;
  animation-duration: 1s;
  opacity: 1;
}

@keyframes slide-down {
  from{
    transform: translateY(-40px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

.flex {
  display: flex
}

.flex-center {
  justify-content: space-between
}

.title-underline {
  width: 100px;
  height: 3px;
  background: #999;
  margin: 30px 0;
}

.title-underline.center {
  margin: 30px auto
}


/* page */

.logo {
  cursor: pointer;
  margin-top: -30px;
  width: 76px;
}

header {
  font-size: 20px;
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}

header.container {
  margin-bottom: 80px
}

footer {
  background: #f2f2f2;
  height: 183px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .right {
  display: flex;
  align-items: center;
}

footer .container .right i.iconfont {
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #999
}

a:hover {
  color: #333;
  transition: color .5s ease-out
}

@font-face {
  font-family: 'iconfont';
  /* project id："138049" */
  src: url('//at.alicdn.com/t/font_ruwkq82mktg4aemi.eot');
  src: url('//at.alicdn.com/t/font_ruwkq82mktg4aemi.eot') format('embedded-opentype'), url('//at.alicdn.com/t/font_ruwkq82mktg4aemi.woff') format('woff'), url('//at.alicdn.com/t/font_ruwkq82mktg4aemi.ttf') format('truetype'), url('//at.alicdn.com/t/font_ruwkq82mktg4aemi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}

ul.list-inline li {
  float: left
}

header nav {}

header nav ul li a {
  margin-left: 45px;
}

header nav ul li a.active {
  color: #333;
}

header nav ul li:first a {
  margin-left: 0;
}

.page {
  min-height: 400px;
}
.page-about h1 {
  font-size: 40px;
  color: #333
}

.page-about section.checklist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.page-list {
  min-height: 400px;
}

.pager {
  display: flex;
  margin: 20px 0 50px;
  justify-content: center;
}

.pager .prev {
  margin-right: 20px;
}