<%- contentFor('body')%>
    <div class="page page-about">
        <section class="checklist">
            <div class="experience category">
                <h3>knoewledge</h3>
                <div class="title-underline"></div>
                <div class="item">
                    <p>Node.js</p>
                    <div class="progress">
                        <div class="out">
                            <div class="inner" style="width:80%"></div>
                        </div>
                    </div>
                    <p>html</p>
                    <div class="progress">
                        <div class="out">
                            <div class="inner" style="width:90%"></div>
                        </div>
                    </div>
                    <p>css</p>
                    <div class="progress">
                        <div class="out">
                            <div class="inner" style="width:90%"></div>
                        </div>
                    </div>
                    <p>Angular.js</p>
                    <div class="progress">
                        <div class="out">
                            <div class="inner" style="width:70%"></div>
                        </div>
                    </div>
                    <p>React.js</p>
                    <div class="progress">
                        <div class="out">
                            <div class="inner" style="width:40%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proficiency category">
                <h3>Hobbies</h3>
                <div class="title-underline"></div>
                <p>有事没事敲敲(写)键(代)盘(码)</p>
                <p>偶尔跟战友守卫世界之树(dota2)</p>
                <p>有空带豆豆去看看世界(遛狗)</p>
                <p>人生美好，最重要的是跟宝宝享受生活。</p>
            </div>
        </section>
    </div>