<%- contentFor('header')%>
    <style>
        main {
            margin-bottom: 100px;
            margin-left: -40px;
            margin-right: -40px;
        }
        
        main .item {
            width: 50%;
            float: left;
            padding: 40px;
            color: #555;
            font-size: 16px;
            transition: all .3s ease-out
        }
        
        main .item:hover {
            background: #f2f2f2;
        }
        
        main .item:nth-child(even) {}
        
        main .item .introduce {
            line-height: 24px;
        }
        
        main .item .time-wrap {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
    </style>
    <%- contentFor('body')%>
        <div class="page page-index">
            <div class="title-picker">
                <select id="tags">
                    <option>all</option>
                    <% tags.forEach( item => { %>
                    <option value="<%=item.value%>" <%=tag===item.value ? 'selected' : ''%> ><%=item.title%></option>
                    <% }) %>
                </select>
            </div>
            <div class="title-underline"></div>
            <main>
                <% posts.forEach((item,i)=>{%>
                    <a href="/detail/<%=item._id%>" target="_blank">
                        <div class="item">
                            <h3>
                                <%=item.title%>
                            </h3>
                            <div class="title-underline"></div>
                            <div class="introduce">
                                <%=item.introduce%>
                            </div>
                            <div class="time-wrap">
                                <div class="star">
                                    <i class="iconfont">&#xe840;</i>
                                    <span><%=item.pv%></span>浏览
                                </div>
                                <div class="time">
                                    <%=item.create_time_str%>
                                </div>
                            </div>
                        </div>
                    </a>
                    <%})%>
                        <div class="clearfix"></div>
            </main>
            <div class="pager">
                <% if(page!==1 && page > 0){ %>
                    <%if(tag){%>
                    <a href="/?tag=<%=tag%>&page=<%=page-1%>" class="prev">上一页</a>
                    <% } else { %>
                        <a href="/?page=<%=page-1%>" class="prev">上一页</a>
                    <% } %>
                <% } %>
                <ul>
                </ul>
                <% if(page !==pageTotal && page >0){ %>
                    <%if(tag){%>
                    <a href="/?tag=<%=tag%>&page=<%=page+1%>" class="prev">下一页</a>
                    <% } else { %>
                        <a href="/?page=<%=page+1%>" class="prev">下一页</a>
                    <% } %>
                <% } %>
            </div>
        </div>

<%- contentFor('footer')%>
<script>
    document.querySelector('#tags').addEventListener('change', function(e) {
        location.href = '/?tag=' + e.target.value
    })
</script>