<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%=settings.description%>">
  <meta name="keywords" content="<%=settings.keywords%>">
  <link href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/src/css/main.css" />
  <%-defineContent('header') %>
</head>
<body>
  <%-include('public/header.html')%>
  <div class="container">
  <%-defineContent('body') %>
  </div>
  <%-include('public/footer.html')%>
  <%-defineContent('footer') %>
  <%-settings.baiduTongji%>
</body>
<script>
  setTimeout(function() {
    // document.querySelector('header nav').classList.add('finished')
  },300)
</script>
</html>