<header class="container">
    <div class="logo" onclick="location.href='/'">
        <svg viewBox="0 0 120 120">
            <rect x="0" y="0" width="120" height="120" rx="15" ry="15" fill="#3fa372"></rect>
            <text x="50%" y="50%" font-size="65" text-anchor="middle" fill="#FFFFFF" style="dominant-baseline: central;">S</text>
        </svg>
    </div>
    <nav class="">
        <ul class="list-inline clearfix">
            <li><a href="/" class="<%= path == '/'?'active':''%>" >首页</a></li>
            <li><a href="/archives" class="<%= path == '/archives'?'active':''%>" >归档</a></li>
            <li><a href="/tags" class="<%= path == '/tags'?'active':''%>" >标签</a></li>
            <li><a href="/about" class="<%= path == '/about'?'active':''%>" >关于</a></li>
            <div class="clearfix"></div>
        </ul>
    </nav>
</header>